
$main-color: #409eff;
$text-color2: #f56c6c;
$text-color3: #303133;
$main-bg1:#304156;
$main-bg2:rgb(36, 47, 61);

.ot{
  outline: 1px solid red;
}
.ot2{
  outline: 1px solid blue;
}
.center{
  text-align:center;
}
